@charset "utf-8";

@import url('base.css');

::placeholder { color:inherit; }

/* headerWrap */
.header { position:fixed; left:0; right:0; top:0; width:100%; background:#fff; font-family:'Pretendard'; z-index:30; }
.header::before { content:''; z-index:-1; position:absolute; left:0; top:6.625em; width:100%; height:1px; margin-top:-1px; background:#d1dadf; }
.active.header { height:600px; box-sizing:border-box; }
.header .headerWrap { position:relative; max-width:1920px; margin:0 auto; z-index:9; }
.header .btnMoGnb,
.gnb .util,
.gnb .gnbClose { display:none; }
.header .logo { position:absolute; left:2%; top:2.500em; z-index:2; }
.header .logo a { display:block; }
.gnbWrap { padding-left:6.25em; }
.gnbList { display:flex; justify-content:center; }
.gnbList>li { position:relative; padding-right:6.5%; }
.gnbList>li>a { display:inline-block; position:relative; padding-top:2.474em; padding-bottom:2.000em; text-align:center; color:#010101; line-height:1.1; font-size:1.188em; font-weight:600; }
.gnbList>li>a:hover,
.gnbList>li>a:focus { text-decoration:none; }
.gnbList>li>a:after { content:''; display:inline-block; position:absolute; left:0; bottom:0; width:0; height:0.316em; background:#34abdf; transition:0.4s; }
.gnbList>li.active>a:after,
.gnbList>li.hover>a:after { left:0; width:100%; }
.gnbList li .subMenu { display:none; position:absolute; left:0; width:100%; padding:2em 0 3em 0.125em; letter-spacing: -0.04em; box-sizing:border-box; }
.gnbList li .subMenu>ul { width:100%; letter-spacing:-.05em; }
.gnbList li .subMenu>ul>li { vertical-align:top; }
.gnbList li .subMenu>ul>li>a { display:inline-block; padding:.5em 0 0.222em; font-weight:600; }
.gnbList li .subMenu ul ul li { margin:5px 0; }
.gnbList>li .subMenu>ul>li a:hover,
.gnbList>li .subMenu>ul>li a:focus { color:#2760AE; font-weight:600; }
.gnbList li .subMenu div ul li a { display:inline-block; padding-left:0.375em; background:url(../images/common/bu_4x1.svg) no-repeat 0 10px; letter-spacing:-0.05em; }
.gnb .gnbClose { display:none; z-index: 3; position:absolute; right:1.5%; top:2.938em; }
.gnb .gnbClose button { overflow:hidden; position:relative; width:1.5em; height:1.5em; margin-top:-.25em; font-size:1.375em; text-indent:-999px; }
.gnb .gnbClose button::before,
.gnb .gnbClose button::after { content:''; position:absolute; left:50%; top:50%; width:1em; height:2px; margin-top:-1px; margin-left:-.5em; background:#000; margin-top:-1px; }
.gnb .gnbClose button::before { transform:rotate(45deg); }
.gnb .gnbClose button::after { transform:rotate(135deg); }

.header .hdItem { display:flex; align-items:center; position:absolute; top:2.625em; right:1.5%; }
.header .hdItem .hdSearch { margin-left: 0.5em; }
.header .hdItem .btnTotalSearch { overflow:hidden; display:inline-block; width:35px; height:35px; background-image:url(../images/common/icon_search.svg); background-repeat: no-repeat; background-position: 50% 50%; text-indent:-999px; }
.header .hdItem .hdSearch .totalSearch { display: none; z-index:20; position:fixed; top:0; left: 0; width: 100%; background: #fff; box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.23); }
.header .hdItem .hdSearch .totalSearch .inner { max-width:780px; margin:0 auto; padding:6em 5% 4em; text-align: center; }
.header .hdItem .hdSearch .totalSearch h3 { margin-bottom:1.1em; letter-spacing:-0.03em; font-size:2.5em; font-weight:300; }
.header .hdItem .hdSearch .totalSearch .inputBox { position:relative; padding-right:2.2em; border-bottom:2px solid #000; font-size:1.25em; }
.header .hdItem .hdSearch .totalSearch .inputBox input[type="text"] { width:100%; height:3.2em; border:none; text-indent:.25em; color:#666; font-weight:300; }
.header .hdItem .hdSearch .totalSearch .inputBox button { overflow:hidden; position:absolute; right:0; top:0; width:2.2em; height:3.2em; background:url(../images/common/icon_search.svg) center no-repeat; background-size:auto 1.875em; text-indent:-999px; }
.header .hdItem .hdSearch .totalSearch .btnClose { position:absolute; right:0; top:0; }
.header .hdItem .hdSearch .totalSearch .btnClose button { overflow:hidden; width:6em; height:6em; background:#fff; text-indent:-999px; }
.header .hdItem .hdSearch .totalSearch .btnClose button:before,
.header .hdItem .hdSearch .totalSearch .btnClose button:after { content:''; position:absolute; left:50%; top:50%; width:1.75em; height:3px; margin-top:-2px; margin-left:-.875em; background:#000; }
.header .hdItem .hdSearch .totalSearch .btnClose button:before { transform:rotate(45deg); }
.header .hdItem .hdSearch .totalSearch .btnClose button:after { transform:rotate(135deg); }
.header .hdItem .btnGnbAll { overflow:hidden; display:inline-block; position:relative; width:35px; margin-top: 0.25em; }
.header .hdItem .btnGnbAll span { display:inline-block; position:relative; width:21px; height:2px; margin-top:9px; background:#000; text-indent:-999px; }
.header .hdItem .btnGnbAll span::before,
.header .hdItem .btnGnbAll span::after { content:''; position:absolute; left:0; height:2px; width:100%; background:#000; text-indent:-9999em; top:-9px; }
.header .hdItem .btnGnbAll span::after { top:9px; }

.overlayBg {position: fixed; top: 0; left: 0; width: 100%; height: 0; background-color: rgba(000,000,000,0.6); z-index:7; font-size: 0; opacity: 0;}
.overlayBg.active {height: 100%; opacity: 1; -webkit-transition:opacity 0.4s; -o-transition:opacity 0.4s; -moz-transition:opacity 0.4s; transition:opacity 0.4s;}
.header .overlayBg { display:none; }

/* footer */
.footer { padding:0 5.5%; background-color: #162e4e; }
.footer .ftWrap { display:flex; justify-content:space-between; align-items:flex-end; max-width:1180px; margin:0 auto; padding-top: 4em; padding-bottom: 4.500em; }
.footer .ftWrap .left { color: #a3acb8; }
.footer .ftWrap .left .ftLogo { display: inline-block; margin-bottom: 1.5em; }
.footer .ftWrap .left .policy { display:flex; margin-bottom: 1em; }
.footer .ftWrap .left .policy li { position: relative; margin-left:0.750em; padding-left:0.875em; }
.footer .ftWrap .left .policy li:nth-child(1) { margin-left: 0; padding-left: 0; }
.footer .ftWrap .left .policy li::before { content:''; position: absolute; top: 50%; left: 0; width: 3px; height: 3px; transform:translateY(-50%); border-radius:50%; background: #919fb3; }
.footer .ftWrap .left .policy li:nth-child(1)::before { content:none; }
.footer .ftWrap .left .policy li a { display: inline-block; color: #dee3e9; font-size: 0.938em; }
.footer .ftWrap .left address { font-size: 0.938em; }
.footer .ftWrap .left address span { display: inline-block; }
.footer .ftWrap .left address span + span { margin-left: 0.5em; }
.footer .ftWrap .left .number { display: none; }
.footer .ftWrap .left .copyright { margin-top: 0.143em; font-size: 0.875em; }
.footer .ftWrap .right { margin-top: 1.5em; }
.footer .ftWrap .right .name { color: #8a94a2; font-size: 0.938em; }
.footer .ftWrap .right .name span { display: inline-block; position: relative; margin-right:0.533em; padding-right: 0.667em; }
.footer .ftWrap .right .name span::before { content:''; position: absolute; top:50%; right: 0; width: 1px; height: 0.733em; margin-top: -0.467em; background: #797994; }
.footer .ftWrap .right .number { margin-top: 1.375em; }
.footer .ftWrap .right .number li { margin:0.125em 0; padding-left:2.125rem; background-repeat: no-repeat; background-position:0 50%; color: #ced1d6; font-size: 1.125em; }
.footer .ftWrap .right .number li.i1 { background-image: url(../images/common/icon_phone.png); }
.footer .ftWrap .right .number li.i2 { background-image: url(../images/common/icon_fax.png); }
.footer .ftWrap .right .number li.i3 { background-image: url(../images/common/icon_business_number.png); font-size: 1rem; }
.footer .ftWrap .right .number li b { font-weight: 600; }

@media only screen and (max-width:1480px) {
	.header .logo { max-width:15.6082%; }
	.gnbWrap { padding-left:9em; }
	.gnbList>li { padding-right:5.333em; }
}
@media only screen and (max-width:1280px) {
	html { font-size:15px; }
}
@media only screen and (max-width:1200px) {
    html { font-size:13px; }
	
	body { overflow-y:auto; min-width:320px; }
	#wrap { padding-top:0; }
    /* header */
    .header::before,
	.header .hdItem .btnGnbAll,
	.header .hdItem .login,
    .header .gnbWrap { display:none; }
    .header { overflow:visible; position:sticky; border-bottom: 1px solid #dcdcdc; font-size: 11px; }
	@supports (display: flex) {
		.header { font-size:clamp(11px, 1.0834vw, 13px); }
	}
	.header.active { position: relative; height:auto; border-bottom:none; background:transparent; }
    .header .logo { position:static; max-width:none; text-align: center; }
    .header .logo a { display:inline-block; max-width:42.223%; padding-top:1.818em; padding-bottom:1.364em; }
    .header .btnMoGnb { display:block; position:absolute; right:3%; top:0; width:35px; height: 100%; }
    .header .btnMoGnb button { overflow:hidden; width:100%; height:100%; background:url(../images/common/icon_hamburger_mo.png) no-repeat 50% 50%; background-size:2em auto; text-indent:-999px; }
	.header .hdItem { right: auto; top: 0; left:3%; height: 100%; }
	.header .hdItem .hdSearch { margin-left: 0; }
	.header .hdItem .btnTotalSearch { background-size:1.727em auto; }
    .header .gnbWrap { overflow-y:auto; position:fixed; right:0; top:0; width:360px; height:100%; padding-right:0; padding:0; background:#fff; z-index:15; }
	.gnb .util { display: block; background: #259dd7; }
	.gnb .util a { display: inline-block; padding:0.857em 2.273rem; font-size:1.273em; color: #fff; }
	
    .gnbList { display:block; padding:0; }
	.gnbList li { position:relative; }
    .gnbList>li { display:block; margin-right:0; padding:0; border-top:1px solid #ededed; }
    .gnbList>li:first-child { border:none; }
    .gnbList>li>a { display:block; position:relative; padding:.25em 2.273rem; text-align:left; color:#000; line-height:3.385em; font-size:1.273em; font-weight:500; }
    .gnbList li.open>a { color:#265DAC; font-weight:600; }
    .gnbList li.opNav>a:after { content:''; position:absolute; left:auto; right:5.5%; top:1.5em; width:.5em; height:.5em; margin-top:-.5em; border-right:2px solid #7d7d7d; border-bottom:2px solid #7d7d7d; background:none; box-sizing:border-box; transform:rotate(45deg); transition:all .4s; }
    .gnbList li.opNav.open>a:after { margin-top:0; transform:rotate(225deg); }
    .gnbList li .subMenu { display:none; position:static; width:100%; padding:0; border-top:1px solid #eee; background:#fafafa; text-align:left; font-size:1.182em; }
    .gnbList li .subMenu>ul>li { display:block; margin:0; }
    .gnbList li .subMenu>ul>li>a { display:block; padding:1em 1.923em; }
	.gnbList>li .subMenu>ul>li a:hover,
	.gnbList>li .subMenu>ul>li a:focus { color: #000; }
    .gnbList li .subMenu div { display:none; padding:0 2.273rem; }
	.gnbList li .subMenu ul ul { margin-top:-.5em; }
    .gnbList li .subMenu ul ul li { margin:0; }
    .gnbList li .subMenu ul ul li a { display:block; padding:0.385em 0 0.385em 10px; background:url(../images/common/bu_4x1.svg) no-repeat 0 50%; background-size:4px auto; color:#000; }
    .gnb .gnbClose { display:block; top:0.545em; right:0.727em; }
	.gnb .gnbClose button { width: 35px; height: 35px; }
	.gnb .gnbClose button::before, 
	.gnb .gnbClose button::after { width:1.455em; height:2px; background: #fff; }
}
@media only screen and (max-width:720px) {
    html { font-size:12px; }
	
	.header .hdItem .hdSearch .totalSearch h3 b { display: block; }
	.footer .ftWrap { display: block; padding-top: 2.545em; padding-bottom: 3.273em; }
	.footer .ftWrap .right { display: none; }
	.footer .ftWrap .left .ftLogo { max-width:38.7005%; }
	.footer .ftWrap .left address { font-size: 0.818em; }
	.footer .ftWrap .left .number { display:flex; flex-wrap:wrap; }
	.footer .ftWrap .left .number li { margin-left:0.727rem; font-size: 0.818em; }
	.footer .ftWrap .left .number li:first-child,
	.footer .ftWrap .left .number li:last-child { margin-left: 0; }
	.footer .ftWrap .left .copyright { margin-top: 0.5rem; }
}
@media only screen and (max-width:480px) {
    html { font-size:11px; }
}



#container { margin-top:6.625em; margin-bottom: max(7%, 5em); }
/* location */
.locationVisual { position: relative; padding: 0 3%; border-bottom: 1px solid #d1dadf; background-color: #f7f9fa; background-image: url(../images/sub/bg_visual.jpg); background-repeat: no-repeat; background-position:50% 50%; background-size:cover; }
.locationVisual:has( .locationSub .locBtn) { margin-bottom:10.000em; }
.locationVisual .innerWrap { display:flex; align-items:center; justify-content:space-between; max-width:1180px; margin:0 auto; padding-top:4.875em; padding-bottom:5.875em; }
.locationVisual .innerWrap h2 { font-size: 2.125em; }
.locationVisual .siteLocation { display:flex; align-items:center; }
.siteLocation .location { display:flex; }
.siteLocation .location .home a { overflow: hidden; display: inline-block; width: 44px; height:100%; background:url(../images/sub/icon_home.png) no-repeat 50% 50%; background-size:1.125em auto; text-indent:-999px; }
.siteLocation .location .locationTab { display:flex; }
.siteLocation .location .locationTab > li { position: relative; min-width:9.188em; }
.siteLocation .location .locationTab > li::before { content:''; position: absolute; top:0.75em; left: 0; width: 1px; height: 0.875em; background: #cdcfd0; }
.siteLocation .location .locationTab .locBtn { display: block; width: 100%; padding:0.5em 1em; text-align: left; font-weight: 500; }
.siteLocation .location .locationTab .locBtn span { display: inline-block; position: relative; padding-right:1.500em; }
.siteLocation .location .locationTab .locBtn span::before { content:''; position: absolute; top:0.25em; right: 0; width:0.375em; height:0.375em; transform:rotate(135deg); border-top: 2px solid #000; border-right: 2px solid #000; transition:0.5s; }
.siteLocation .location .locationTab .locBtn.active span::before { top:0.5em; transform:rotate(-45deg); }
.siteLocation .location .locationTab li div { display: none; z-index: 2; position: absolute; left: 0; width: 100%; padding:0.5em 0; border: 1px solid #cdcfd0; background:#fff; }
.siteLocation .location .locationTab li div a { display: block; padding:0.25em 1em; }
.siteLocation .location .locationTab li div a:hover,
.siteLocation .location .locationTab li div a:focus { font-weight: 600; text-decoration:underline; }
.siteLocation .subFunc { display:flex; }
.siteLocation .subFunc .btnShare,
.siteLocation .subFunc .btnPrint { overflow: hidden; display: inline-block; width: 2.438em; height: 2.438em; border-radius:50%; border: 1px solid #d1dadf; background-repeat:no-repeat; background-position: 50% 50%; text-indent:-999px; }
.siteLocation .subFunc .btnShare { position: relative; background-image: url(../images/sub/btn_share.svg); }
.siteLocation .subFunc .btnPrint { margin-left: 0.625em; background-image: url(../images/sub/btn_print.svg); }
.siteLocation .subFunc .share { position: relative; margin-left: 0.625em; }
.siteLocation .subFunc .shareList { display: none; position:absolute; right:-.75em; top:3.3125em; padding:0.875em; background:#fff; border:1px solid #999; box-sizing:border-box; text-align:center; z-index:2; }
.siteLocation .subFunc .shareList::before { content:''; display:block; width:.75em; height:.5625em; background:url(../images/sub/icon_share_list_before.png) no-repeat; background-size:100%; position:absolute; top:-.5625em; right:1.625em; }
.siteLocation .subFunc .shareList ul { display:flex; float:left; margin-right:16px; }
.siteLocation .subFunc .shareList ul li { margin:0 5px; }
.siteLocation .subFunc .shareList ul li a { overflow:hidden; display:block; width:50px; background-repeat:no-repeat; background-position:top center; background-size:29px; box-sizing:border-box; line-height: 1.2; font-size:13px; padding-top:37px; }
.siteLocation .subFunc .shareList ul li:nth-child(1) a { background-image:url(../images/sub/icon_location_kakao.png); }
.siteLocation .subFunc .shareList ul li:nth-child(2) a { background-image:url(../images/sub/icon_location_band.png); }
.siteLocation .subFunc .shareList ul li:nth-child(3) a { background-image:url(../images/sub/icon_location_facebook.png); }
.siteLocation .subFunc .shareList ul li:nth-child(4) a { background-image:url(../images/sub/icon_location_url.png); }
.siteLocation .subFunc .shareClose { overflow:hidden; display:inline-block;  width:30px; height:30px; background:url(../images/sub/btn_share_close.png) no-repeat 50%; text-indent:-999px; }
.locationSub { display:flex; justify-content:center; position: absolute; bottom: -2em; left: 0; right: 0; width: 100%; margin:0 auto; }
.locationSub .locationTab { display:inline-flex; position: relative; min-width:780px; margin:0 auto; border-radius:5em; border:3px solid #488bcb; background-color: #fff; letter-spacing: -0.03em; box-sizing:border-box; }
.locationSub .locationTab .locBtn { display: none; }
.locationSub .locationTab > li { flex-grow:1; }
.locationSub .locationTab > li > a { display:flex; justify-content:center; z-index:1; position: relative; padding:0.944em 1.5em; border-radius:3em; text-align: center; letter-spacing: -0.03em; font-weight: 600; font-size: 1.125em; }
.locationSub .locationTab > li.active > a { color: #fff; }
.locationSub .locationTab > li.active > a::before { content:''; z-index: -1; position: absolute; top:-3px; left: 0; width:calc(100% + 3px); height:calc(100% + 6px); border-radius:3em; background: linear-gradient(3555deg, rgba(58,66,169,1) 0%, rgba(49,164,219,1) 100%); }
.locationSub .locationTab > li:first-child.active > a::before { left:-3px; }
.locationSub .locationTab > li:last-child.active > a::before { left: auto; right: -3px; }
.locationSub .locationTab div { position: absolute; left:2em; margin-top:1.563em; }
.locationSub .locationTab div ul { display:flex; }
.locationSub .locationTab div ul li { margin-right: 1em; }
.locationSub .locationTab div ul li:last-child { margin-right: 0; }
.locationSub .locationTab div ul li a { display:inline-block; padding-top: 10px; padding-right: 12px; background-repeat: no-repeat; background-position: right 0 top 0; color: #8e8e8e; line-height: 1.2; word-break:keep-all; font-size: 1.125em; }
.locationSub .locationTab div ul li a:hover,
.locationSub .locationTab div ul li a:focus,
.locationSub .locationTab div ul li.active a { background-image: url(../images/sub/bu_3depth.svg); color: #1061af; font-weight: 700; transition:0.4s; }
.pageTit { margin-top:7.500em; margin-bottom:4.125em; text-align: center; }
.pageTit h3 { font-size: 2.375em; }
@media screen and (max-width:1200px) { 
	#container { margin-top: 0; }
	
	.locationVisual { margin-bottom:0; padding:0; border-bottom: none; background:none; }
	.locationVisual:has( .locationSub .locBtn) { margin-bottom: 0; }
	.locationVisual .innerWrap { display: block; padding: 0; }
	.locationVisual .innerWrap h2,
	.siteLocation .location .home,
	.siteLocation .location .locationTab > li.depth1,
	.siteLocation .subFunc,
	.siteLocation .location .locationTab > li::before { display: none; }
	.locationVisual .siteLocation,
	.siteLocation .location,
	.siteLocation .location .locationTab { display: block; }
	.siteLocation .location .locationTab > li { min-width:auto; }
	.siteLocation .location .locationTab .locBtn { width: 100%; padding:1.125em 0.875em; background: #259dd7; color: #fff; text-align: left; font-size: 1.455em; }
	.siteLocation .location .locationTab .locBtn span { display: block; padding-right: 1.5em; font-weight: 600; }
	.siteLocation .location .locationTab .locBtn span::before { width: 0.438em; height: 0.438em; border-top:2px solid #fff;border-right:2px solid #fff; }
	.siteLocation .location .locationTab li div { position:static; padding:0.727em 0; border-top: none; border-left: none; border-right: none; }
	.siteLocation .location .locationTab li div a { font-size:1.273em; }
	.siteLocation .location .locationTab li div a { padding:0.533em 1em; }
	.siteLocation .location .locationTab li div .active a { color:#1061af; font-weight: 700; }
	.locationSub { display: block; position:static; padding:0 6%; box-sizing:border-box; }
	.locationSub .locationTab { display: block; min-width:auto; border-radius:0; border: none; }
	.locationSub .locationTab > li,
	.locationSub .locationTab > li.active > a { display: none; }
	.locationSub .locationTab > li.active,
	.locationSub .locationTab .locBtn { display: block; }
	.locationSub .locationTab .locBtn { width: 100%; margin-top: 2em; padding:1em 1.714em 0.857em; border-radius:2em; border: 1px solid #488bcb; color: #3374b1; text-align: left; font-weight: 500; font-size: 1.273em; }
	.locationSub .locationTab .locBtn span { display: block; position: relative; padding-right: 1.714em; }
	.locationSub .locationTab .locBtn span::before { content:''; position: absolute; top:0; right: 0; width:0.5em; height:0.5em; transform:rotate(135deg); border-top: 2px solid #488bcb; border-right: 2px solid #488bcb; transition:0.5s; }
	.locationSub .locationTab .locBtn.active span::before { top:0.286em; transform:rotate(-45deg); }
	.locationSub .locationTab div { display: none; position:static; margin-top:-1px; padding:0.727em 0; border:1px solid #488bcb; }
	.locationSub .locationTab div ul { display: block; }
	.locationSub .locationTab div ul li { margin-right: 0; }
	.locationSub .locationTab div ul li a { padding:0.571em 1.714em; font-size:1.273em; }
	.locationSub .locationTab div ul li a:hover,
	.locationSub .locationTab div ul li a:focus,
	.locationSub .locationTab div ul li.active a { background:none; transition:none; }
	
	.pageTit { margin-top:3.636em; margin-bottom:2.455em; }
	.pageTit h3 { font-size: 2.091em; }
}

/* 광주도시재생 > 도시재생활성화지역 */
.areaMap { max-width:1180px; margin:0 auto; padding:0 6%; }
.areaMap .mapOpt { position: relative; margin-bottom: 1.875em; padding:1.125em 8.438em 1.125em 3.250em; border-radius:0.75em; border: 1px solid #d8d8d8; }
.areaMap .mapOpt .btnMapSearch { position: absolute; top: 0; right: 0; width:8.438em; height: 100%; border-left: 1px solid #d8d8d8; }
.areaMap .mapOpt .btnMapSearch button { display: block; width: 100%; height: 100%; color: #1061af; font-weight: 700; }
.areaMap .mapOpt .btnMapSearch button span { display: inline-block; padding-bottom: 0.25em; padding-left: 1.375em; border-bottom: 1px solid #1061af; background:url(../images/sub/icon_map_search.svg) no-repeat 0 0; background-size:1.063em auto; }
.areaMap .mapOpt .optWrap { display:flex; align-items:center; margin-top:0.75em; }
.areaMap .mapOpt .optWrap:nth-of-type(1) { margin-top: 0; }
.areaMap .mapOpt .optWrap h4 { flex-shrink:0; padding-right: 1em; font-size: 1.125em; }
.areaMap .mapOpt .optWrap .checkList { display:flex; flex-wrap:wrap; align-items:center; position: relative; transition:0.3s; }
.areaMap .mapOpt .optWrap .checkList.on { padding-bottom:3.25em; }
.areaMap .mapOpt .optWrap .checkList li { margin:0.313em 0.25em; }
.areaMap .mapOpt .optWrap .checkList li input { overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; margin-top: -1px; clip:rect(0,0,0,0); }
.areaMap .mapOpt .optWrap .checkList li label { display: inline-block; cursor:pointer; padding:0.5em 1.688em 0.375em; border-radius:2em; border: 1px solid #d4d4d4; color: #8a8a8a; letter-spacing: -0.04em; }
.areaMap .mapOpt .optWrap .checkList li input:focus + label { outline:2px dashed #000; }
.areaMap .mapOpt .optWrap .checkList li input:checked + label { border:1px solid #1061af; color: #1061af; font-weight: 700; }
.areaMap .mapOpt .optWrap .checkList .checkSubList { display: none; z-index: 2; position:absolute; bottom: 0; left: 0; margin-top:0.375em; margin-left:0.875em; padding:0.437em 1em; border:1px solid #1665b1; background-color: #fff; box-sizing:border-box; }
.areaMap .mapOpt .optWrap .checkList .checkSubList::before { content:''; position: absolute; top:-0.875em; left:8.5em; width:0.5em; height:0.875em; background:url(../images/sub/bg_checklist.png) no-repeat 50% 50% / contain; }
.areaMap .mapOpt .optWrap .checkList .checkSubList li { margin:0.313em 0.625em; }
.areaMap .mapOpt .optWrap .checkList .checkSubList label { padding:0; border-radius:0; border: none; font-size:0.937em; }
.areaMap .mapOpt .optWrap .checkList .checkSubList input:checked + label { border: none; border-bottom:1px solid #1665b1; }
.areaMap .mapView { position: relative; }
.areaMap .mapView #map { height: 41.250em; border-radius:0.75em; border: 1px solid #d8d8d8; }
.areaMap .mapView .custom_typecontrol  { overflow: hidden; z-index:1; position:absolute; top:10px; right:10px; width:130px;height:30px;margin:0;padding:0; border:1px solid #919191; border-radius:5px;}
.areaMap .mapView .custom_typecontrol button { display:block; width:65px; height:30px; float:left; cursor:pointer; text-align:center; line-height:30px; font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.areaMap .mapView .custom_typecontrol .btn {background:#fff; background:linear-gradient(#fff,  #e6e6e6);}       
.areaMap .mapView .custom_typecontrol .btn:hover {background:#f5f5f5; background:linear-gradient(#f5f5f5,#e3e3e3);}
.areaMap .mapView .custom_typecontrol .btn:active {background:#e6e6e6; background:linear-gradient(#e6e6e6, #fff);}   
.areaMap .mapView .custom_typecontrol .selected_btn {color:#fff; background:#425470; background:linear-gradient(#425470, #5b6d8a); }
.areaMap .mapView .custom_typecontrol .selected_btn:hover {color:#fff;}   
.areaMap .mapView .custom_zoomcontrol { z-index:1; position:absolute; top:50px;right:10px;width:36px; border:1px solid #919191; border-radius:5px; background-color:#f5f5f5; } 
.areaMap .mapView .custom_zoomcontrol button { overflow: hidden; display:block; width:36px; height:40px; background-repeat:no-repeat; background-position: 50% 50%; background-size:15px auto; text-align:center;cursor:pointer; text-indent:-999px; } 
.areaMap .mapView .custom_zoomcontrol .plus { border-bottom:1px solid #bfbfbf; background-image: url(../images/sub/ico_plus.png); }
.areaMap .mapView .custom_zoomcontrol .minus { background-image: url(../images/sub/ico_minus.png); }
.areaMap .areaNm {  position: absolute; background: #fff; border: 1px solid #888; border-radius: 3px; font-size: 12px; top: -5px; left: 15px; padding:2px 4px; }
.areaMap .areaInfo { z-index: 1; position: absolute; width: 100%; min-width:26.625em; max-width:530px; padding:2.000em 2em 1.625em; border-radius:0.75em; background-color: #fff; box-sizing:border-box; box-shadow: 0px 0px 1.25em 1em rgba(0,0,0,0.08); }
.areaMap .areaInfo:has(.popSlide) { width: 530px; }
.areaMap .areaInfo .title { margin-bottom:0.818em; padding-right: 1rem; color: #191919; font-size: 1.375em; }
.areaMap .areaInfo .topInfo { display:flex; }
.areaMap .areaInfo .topInfo .imgArea { flex-shrink:0; position: relative; width: 220px; height: 100%; margin-right: 1.5em; }
.areaMap .areaInfo .topInfo .imgArea .btnZoomOpen { overflow: hidden; display: inline-block; z-index:2; position: absolute; top: 0; left: 0; width: 100%; height: 160px; background:url(../images/sub/btn_zoom.png) no-repeat 50% 50%; background-size:3.5em auto; text-indent:-999px; }
.areaMap .areaInfo .topInfo .popSlide { }
.areaMap .areaInfo .topInfo .popSlide .item { }
.areaMap .areaInfo .topInfo .popSlide .item img { object-fit:cover; width: 100%; height: 160px; border:1px solid #d8d8d8; box-sizing:border-box; }
.areaMap .areaInfo .topInfo .popSlide .item p { margin-top: 0.5em; text-align: center; font-size:0.937em; }
.areaMap .areaInfo .topInfo .popSlide .slick-arrow { overflow: hidden; display: inline-block; z-index: 1; position: absolute; top:calc(50% - 35px/2); width: 30px; height: 30px; border-radius:50%; background-color:rgba(000,000,000,0.45); background-repeat: no-repeat; background-position: 50% 50%; background-size:0.437rem auto; text-indent:-999px; }
.areaMap .areaInfo .topInfo .popSlide .slick-prev { left:0.25em; background-image: url(../images/sub/btn_prev.svg); }
.areaMap .areaInfo .topInfo .popSlide .slick-next { right:0.25em; background-image: url(../images/sub/btn_next.svg); }
.areaMap .areaInfo .topInfo ul { display:flex; flex-wrap:wrap; max-width:460px; height: 100%; }
.areaMap .areaInfo .topInfo ul > li { display:flex; min-width:50%; margin-bottom:0.250em; padding-left: 0.5em; background:url(../images/sub/bu_3x3.png) no-repeat 0 0.5em; box-sizing:border-box; }
.areaMap .areaInfo .topInfo ul > li:last-child { margin-bottom: 0; }
.areaMap .areaInfo .topInfo ul li span { display: block; white-space:normal; }
.areaMap .areaInfo .topInfo ul li .tit { flex-shrink:0; margin-right:0.2em; color: #191919; font-weight:600; font-size: 0.938em; }
.areaMap .areaInfo .topInfo ul li .txt { color: #3f5ae7; font-weight:700; font-size: 0.938em; }
.areaMap .areaInfo .btInfo { margin-top: 1em; padding-top:1em; border-top: 1px solid #dbdbdb; }
.areaMap .areaInfo .btInfo ul li { display:flex; color: #191919; font-size: 0.938em; }
.areaMap .areaInfo .btInfo ul li span { display: block; }
.areaMap .areaInfo .btInfo ul li .tit { flex-shrink:0; margin-right: 0.25em; }
.areaMap .areaInfo .btnListDown { margin-top: 1em; }
.areaMap .areaInfo .btnListDown a { display: block; position: relative; padding-top:6px; padding-bottom:6px; padding-right:6.800em; padding-left: 1em; border: 1px solid #1061af; color: #1061af; font-size: 0.938em; }
.areaMap .areaInfo .btnListDown a i { display: inline-flex; align-items:center; position: absolute; top: 0; right:1em; height: 100%; padding:0 1em; background:url(../images/sub/icon_download2.png) no-repeat right 0 top 50%; background-size:0.800em auto; box-sizing:border-box; }
.areaMap .areaInfo .btnListDown a i::before { content:''; position: absolute; top:22%; left: 0; width: 1px; height: 50%; background: #c8c8c8; }
.areaMap .areaInfo .close { display: inline-block; position: absolute; top:1.750em; right:1.500em; width: 35px; height: 35px; background:url(../images/sub/icon_map_close.png) no-repeat 50% 50%; background-size:1.250em auto; }
/* 슬라이드 레이어 팝업 */
.zoomSlidePop { overflow-y:auto; display:none; align-items:center; justify-content:center; z-index: 1000; position:fixed; top: 0; left: 0; width: 100%; height: 100%; background:rgba(0,0,0,0.6); }
.zoomSlidePop .popWrap { position: relative; width: 100%; max-width:890px; padding:3em 2.812em 1.5em; border-radius:0.625em; background-color: #fff; box-sizing:border-box; }
.zoomSlidePop .popWrap .btnClose { display: inline-block; z-index: 2; position: absolute; bottom:2.625em; right:2.812em; padding-right:1.625em; background:url(../images/sub/btn_zoom_close.png) no-repeat right 0 top 50%; background-size:0.875em auto; color: #333; font-weight:600; }
.zoomSlidePop .popWrap .zoomSlide .zoomControl { display:flex; align-items:center; position: absolute; bottom:2.375em; left: 2.812em; }
.zoomSlidePop .popWrap .zoomSlide .zoomControl p { color: #333; font-weight: 500; }
.zoomSlidePop .popWrap .zoomSlide .zoomControl button { display: inline-block; width:3.142em; height:1.714em; margin:0 0.714em; border-radius:3em; font-weight: 500; font-size: 14px; }
.zoomSlidePop .popWrap .zoomSlide .zoomControl button.play { display: none; border: 1px solid #2391b8; color: #2391b8; }
.zoomSlidePop .popWrap .zoomSlide .zoomControl button.stop { border: 1px solid #999999; color: #999; }
.zoomSlidePop .popWrap .zoomSlide .zoomFor { border:1px solid #dcdcdc; }
.zoomSlidePop .popWrap .zoomSlide .zoomFor .item { height: 600px; }
.zoomSlidePop .popWrap .zoomSlide .zoomFor .item img { object-fit:contain; width:100%; height: 100%; margin:0 auto; }
.zoomSlidePop .popWrap .zoomSlide .zoomNav { position: relative; max-width:362px; margin:1.5em auto 0; padding:0 2.875em; }
.zoomSlidePop .popWrap .zoomSlide .zoomNav .item { height: 50px; border:1px solid #dcdcdc; }
.zoomSlidePop .popWrap .zoomSlide .zoomNav .item img { object-fit:cover; width: 100%; height: 100%; }
.zoomSlidePop .popWrap .zoomSlide .zoomNav .slick-arrow { overflow: hidden; display: inline-block; position: absolute; top: 50%; width: 30px; height: 30px; margin-top:-0.937em; border-radius:50%; background-color:rgba(0,0,0,0.73); background-repeat: no-repeat; background-position: 50% 50%; background-size:contain; text-indent:-999px; }
.zoomSlidePop .popWrap .zoomSlide .zoomNav .slick-prev { left: 0; background-image: url(../images/sub/btn_zom_prev.png); }
.zoomSlidePop .popWrap .zoomSlide .zoomNav .slick-next { right: 0; background-image: url(../images/sub/btn_zoom_next.png); }

.areaMap .mapView .infoCount { margin-left: 0; }
.infoCount { margin-top:1.5em; padding-left:10px; background:url(../images/sub/bu_3x3.png) no-repeat 0 50%; letter-spacing: -0.03em; }
.areaMap .mapView .infoCount strong { color:#d61b3e; font-weight:500; }
.areaMap .mapView .conTable .areaInfo { width: auto; max-width:none; min-width:auto; padding:0; box-shadow:none; }
.areaMap .mapView .conTable .topInfo ,
.areaMap .mapView .conTable .topInfo ul { max-width:100%; }

@media screen and (max-height:760px) { 
	.zoomSlidePop { align-items:flex-start; }
}
@media screen and (max-width:1050px) { 
	.areaMap .mapOpt .optWrap .checkList { align-items:flex-start; }
	.areaMap .mapOpt .optWrap .checkList.on { padding-bottom:0; }
	.areaMap .mapOpt .optWrap .checkList .checkSubList { position:relative; width:95%; box-sizing:border-box; }
	.areaMap .mapOpt .optWrap .checkList .checkSubList::before { left:2.363em; }
	.areaMap .mapOpt .optWrap .checkList .checkSubList label { padding-top:0.363em; font-size: 1em; }
	.areaMap .mapOpt .optWrap .checkList.on li:has(.checkSubList) { width:80%; }
}
@media screen and (max-width:830px) { 
	.areaMap .mapOpt { padding:1.636em 0 0; }
	.areaMap .mapOpt .optWrap { display: block; margin-bottom:1.273em; padding:0 1.364em; }
	.areaMap .mapOpt .optWrap + .optWrap { margin-top:0; }
	.areaMap .mapOpt .optWrap h4 { margin-bottom:0.545rem; margin-left:0.313rem; padding-right: 0; }
	.areaMap .mapOpt .optWrap .checkList { flex-wrap:wrap; }
	.areaMap .mapOpt .btnMapSearch { position:static; width: 100%; border-left: none; border-top: 1px solid #d8d8d8; }
	.areaMap .mapOpt .btnMapSearch button { padding:0.833em; font-size:1.091em; }
	.areaMap .mapView .custom_zoomcontrol button { height: 35px; background-size:0.938em auto; }
	.areaMap .mapView #map { height: 55em; }
	.areaMap .areaInfo { width:77.7778vw; min-width:auto; padding:1.636em 1.636em; }
	.areaMap .areaInfo:has(.popSlide) { width:77.7778vw; }
	.areaMap .areaInfo .title { margin-bottom:0.727rem; }
	.areaMap .areaInfo .topInfo .imgArea { position: relative; width:44.2623%; margin-right:3%; }
	.areaMap .areaInfo .topInfo .imgArea .item { }
	.areaMap .areaInfo .topInfo .imgArea .item img { height:21.6667vw; }
	.areaMap .areaInfo .topInfo .imgArea .btnZoomOpen { height:calc(100% - 1.363em); background-size:2.363em auto; }
	.areaMap .areaInfo .close { top:0.6em; right:0.5em; }
	/* 슬라이드 레이어 팝업 */
	.zoomSlidePop { align-items:center; }
	.zoomSlidePop .popWrap { max-width:90%; padding:3.363em 1.545em 1em; }
	.zoomSlidePop .popWrap .btnClose { bottom: auto; top:1.272em; right:1.545em; }
	.zoomSlidePop .popWrap .zoomSlide .zoomControl { bottom: auto; top:1em; left:1.545em; }
	.zoomSlidePop .popWrap .zoomSlide .zoomControl button { font-size: 1em; }
	.zoomSlidePop .popWrap .zoomSlide .zoomFor .item { height: auto; max-height:100%; }
	.zoomSlidePop .popWrap .zoomSlide .zoomFor .item img { object-fit:scale-down; max-height:100%; }
	.zoomSlidePop .popWrap .zoomSlide .zoomNav { padding:0 4.363em; }
	.zoomSlidePop .popWrap .zoomSlide .zoomNav .item { height:10.2778vw; }
	.zoomSlidePop .popWrap .zoomSlide .zoomNav .slick-arrow { width:2em; height:2em; }
	.zoomSlidePop .popWrap .zoomSlide .zoomNav .slick-prev { left:1.272em; }
	.zoomSlidePop .popWrap .zoomSlide .zoomNav .slick-next { right:1.272em; }

	.areaMap .mapView .conTable colgroup,
	.areaMap .mapView .conTable .num { display: none; }
	.areaMap .mapView .conTable td { padding:0.800em 0.5em; }
	.areaMap .mapView .conTable .subject { width:4.5em; border-left: none; }
	.areaMap .mapView .conTable .year { width:2em; }
	.areaMap .mapView .conTable .area { width:2.5em; }
	.areaMap .mapView .conTable .etc { padding-left: 1em; padding-right: 0; }
}
@media screen and (max-width:499px) { 
	.areaMap .mapOpt .optWrap .checkList.on li:has(.checkSubList) { flex-grow:1; }
}
@media (max-width:830px) and (orientation: landscape) {
  .zoomSlidePop { align-items:flex-start; }
}
